*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
    font-size: 15px;
    line-height: 1.5;
}

.wrapper{
    background: #ffffff;
    display: flex;
}

.sidebar {
    width: 75mm; /* було 90mm */
    background: #1e2939;
    color: #fff;
    padding: 2mm 2mm; /* менші відступи */
}

.my-photo {
    width: 100%;
    margin-bottom: 1mm;
}

.about-me{
    padding-left: 40px;
    padding-top: 100px;
}

.contacts{
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-title{
    margin-bottom: 0px;
    font-size: 27px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.contacts-link{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}

.contacts-link-tipe{
    margin-right: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.tech-skills{
    margin-bottom: 00px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.tech-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.tech-skills-item{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}

.tech-skills-text{
    color: #fff;
}

.soft-skills{
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.soft-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.soft-skills-item{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}

.soft-skills-text{
    color: #fff;
}

.Languages-skills{
    margin-bottom: 00px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.Languages-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.Languages-skills-item{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}

.Languages-skills-text{
    color: #fff;
}

.profession{
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}

.name{
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
    margin-top: -100px;
    margin-bottom: 10px;
}

.description{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 21px;
    width: 400px;
    height: 105px;
    color: #000;
}

.info-container{
    margin-top: -20px;
    margin-bottom: 20px;
}

.about-me-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profession-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: -10px;
    margin-bottom: -5px;
    color: #000;
}
.profession-title a {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}


.profession-company{
    color: #ff6b08;
}

.profession-time{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.profession-divided{
    color: #000;
}

.profession-duties{
    margin-top: 5px;
    margin-left: 17px;
    margin-bottom: 20px;
}

.profession-duties-item{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.education-company{
    color: #ff6b08;
    margin-top: 5px;
    margin-bottom: 10px;
}

.education-title{
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin-top: -10px;
}

.education-time{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 5px;
}